<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="shortcut icon" href="../images/home-favicon.png" type="image/x-icon">
</head>

<body>
    <div class="box">
        <h1>Attendance System</h1>
        <div class="box-content">
            <div class="login">
                <img src="../images/login-white-crop.png" alt="login-img">
                <a class="text-white" target="_blank" href="/viewReport">View Report</a>
            </div>
            <div class="scan">
                <img src="../images/scan-white-crop.png" alt="scan-img">
                <a class="text-white" target="_blank" href="/scanner">Scan Face</a>
            </div>
        </div>
    </div>

    <a class="logoutBtn" href="/login" class="btn btn-danger">Logout</a>
</body>

</html>