<!--! Root Page EJS  -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance System</title>
    <link rel="stylesheet" href="../css/root.css">
    <script src="https://kit.fontawesome.com/5570bdf1f9.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../images/home-favicon.png" type="image/x-icon">
</head>

<body>
    <header class="nav-container">
        <!-- Logo -->
        <div class="logo">
            <h1><span>MDxTech</span></h1>
        </div>

        <!-- Navbar items -->
        <nav class="navItems">
            <ul class="items">
                <li><a href="/">Home</a></li>
                <li><a href="https://github.com/imCyberMohsin/Attendance-System_NodeJS.git" target="_blank">About</a></li>
                <li><a href="https://github.com/justadudewhohacks/face-api.js" target="_blank">API</a></li>
                <li><a href="https://github.com/imCyberMohsin" target="_blank">Contact</a></li>
            </ul>
        </nav>

        <!-- Dropdown Button -->
        <button class="dropdownBtn">
            <i class="fa-solid fa-bars"></i>
        </button>
    </header>

    <div class="main">
        <h1>ATTENDANCE<br>SYSTEM</h1>

        <a class="btn" href="/login">Login Now</a>
    </div>

    <script src="../js/root.js"></script>
</body>

</html>