<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Scanner</title>
    <script defer src="../js/face-api.min.js"></script>
    <script defer src="../js/scanner.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <link rel="stylesheet" href="../css/scanner.css">
    <link rel="shortcut icon" href="../images/scanner-favicon.png" type="image/x-icon">
</head>
<body>
    <video id="video" width="580" height="440" autoplay muted></video>
    
    <button id="downloadButton">SAVE ATTENDANCE</button>

    <a class="homeBtn" href="/home">HOME</a>
</body>
</html>